@using CI_Platform_MVC.Entity.Models.ViewModel
@{
    Layout = "_LayoutLandingPage";
}

@{
    ViewData["Title"] = "Home";

}

@model MissionVM

<div class=" shadow p-3 mb-5 bg-body rounded">
    <div class="container">

        <partial name = "_header" />

    </div>
</div>


 <div class="container mb-3">

     <div class="d-flex">
         <div id="nav-badge-country">

         </div>
         <div id="nav-badge-city">

         </div>
         <div id="nav-badge-theme">

         </div>
         <div id="nav-badge-skill">

         </div>

        </div>

      <div class="home-upper-content">
            <div class="home-upper-content-left">
                @*<p>Explore <strong>@TempData["TotalMissions"]</strong></p>*@
                <p>Explore <strong>@ViewBag.TotalMissions</strong></p>
            </div>
            <div class="home-upper-content-right">
                <div class="col-custom-home">
                      <div class="sort-bar p-2">

                        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="width: 100px;
                                                     display: flex;
                                                     justify-content: space-between;
                                                     align-items: center;">
                            SortBy <img src="~/Images/drop-down.png" alt="" class="d-inline" style = "margin-left : 10px ; height : 10px;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                           <li><a class="dropdown-item country-name sortby" role="button">Name</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">Oldest</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">Newest</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">LowestAvailableSeats</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">HighestAvailableSeats</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">SortByMyFavorite</a></li>
                           <li><a class="dropdown-item country-name sortby" role="button">SortByDeadline</a></li>
                                          
                        </ul>
                

                     </div>





                </div>
                <div>
                    <button id="grid-btn" class="selected"><img src="~/Images/grid.png" alt="" class="img-custom"></button>
                    <button id="list-btn" class=" not-selected"><img src="~/Images/pngegg.png" alt="" class="img-custom"></button>
                </div>
            </div>
        </div>


        

        <div class="hide" id="notfound">
                 <h1 class="text-center">No Mission Found</h1>
             </div>

        <partial name="_GridView" />
        @*<partial name="_ModalData" />*@
        <partial name="_ListView" />
     <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center mt-3">
            <li class="page-item">
                <a class="page-link curser-pointer" aria-label="Previous" onclick = "PrevPointer()">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for(var i = 0 ;i <= (ViewBag.TotalMissions/9)  ; i++ )
            {
                <li class="page-item"><a class="page-link pagination curser-pointer" >@(i+1)</a></li>
            }
            

            <li class="page-item">
                <a class="page-link curser-pointer" aria-label="Next" onclick = "NextPointer()">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


 </div>