@using CI_Platform_MVC.Entity.Models.ViewModel

@{
    ViewData["Title"] = "Registration";
}

@model RegisterVM

<div class="main-container">
        <div id="carouselExampleCaptions" class="carousel slide slide-content" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="~/Images/Animal-welfare-&-save-birds-campaign-1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h5 class="heading">First slide label</h5>
                  <p class="secondary-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, saepe quidem. Tenetur molestias quasi, eos quia deleniti commodi ex? Officiis laborum provident nesciunt amet et sed veritatis tempore corporis ducimus!
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/Images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h5 class="heading">Second slide label</h5>
                  <p class="secondary-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis suscipit eligendi, fugiat fugit velit incidunt vel dolore, voluptas earum veniam aspernatur quasi, sapiente molestias libero voluptates? Amet, quo dolorum.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h5 class="heading">Third slide label</h5>
                  <p class="secondary-heading">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est atque asperiores sunt saepe, a doloribus, magnam expedita ex nobis maiores omnis inventore tenetur labore aliquid, eum explicabo nihil. Inventore, nesciunt!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/Images/Nourish-the-Children-in--African-country-1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h5 class="heading">Fourth slide label</h5>
                  <p class="secondary-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur inventore vitae voluptatem, omnis cupiditate veritatis quasi expedita temporibus sapiente ullam provident, repellendus minima quidem nesciunt! Laudantium ab dicta illo cum?</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <partial name="_AddNotification" />
        <div class="second-part">
            <div class="registration-form-content">
                
                <form method="post">
                    <div class="mb-3">
                      <label asp-for="User.FirstName" class="form-label">First Name</label>
                      <input asp-for="User.FirstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                      <label asp-for="User.LastName" class="form-label">Last Name</label>
                      <input asp-for="User.LastName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label asp-for="User.PhoneNumber" class="form-label">Phone Number</label>
                      <input asp-for="User.PhoneNumber" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label asp-for="User.Email" class="form-label">Email address</label>
                      <input asp-for="User.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <span asp-validation-for="User.Email" class="text-danger"></span>
                      
                    </div>
                    <div class="mb-3">
                      <label asp-for="User.Password" class="form-label">Password</label>
                      <input asp-for="User.Password" type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                      <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                      <input asp-for="ConfirmPassword" type="password" class="form-control" id="c-password">
                      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                                        

                    
                    <button type="submit" class="btn submit-btn">Register</button>
                  </form>
                  <div class="forgot-password-reg">
                      <a asp-controller="Home" asp-action="Forgotpassword">Lost your password?</a>
                  </div>
                  <div class="create-account">
                      <span>Already have an account?</span><a asp-controller="Home" asp-action="Index">Login</a>
                  </div>
            </div>
            <div class="privacy">
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>

