
@{
    Layout = null;
    string url = TempData["link"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>temp</title>
</head>
<body>
    <a href=@url>Click</a>

</body>
</html>
