
.form-text{
    
    text-align: center;
}

.forgotpassword-form-label{
    color: #414141 !important;
    margin-top: 20px;
}

/* .form-input{
    width: 350px !important;
} */


.login{
    margin-top: 14px;
    text-align: center;
}








.main-text{
    font-size: 32px;
}

.secondary-text{
    font-size: 18px;
}

/* Responsive Design */


@media screen and (max-width: 1000px){
    .main-container{
        display: block;
    }
    .slide-content{
        width: 100%;
        
    }
    .carousel-item img{
        height: 100% !important;
    }

    .form-content{
        margin-top: 10px;
        /* width: 100%; */
    }
    .second-part{
        align-items: center;
        width: 100%;
    }
    
    
    .secondary-text{
        font-size: 16px;
    }

    a{
        font-size: 16px !important;
    }
    .secondary-heading{
        display: none;
    }
    
    
}
