
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="list-view" class="hide">

    <div id="list">

    <div class="card mb-4 mission-list" >
        
            <div class="row g-0 ">
                <div class="col-md-4">
                    
                    <img src="~/Images/Animal-welfare-&-save-birds-campaign-1.png" class="img-fluid rounded-start h-100 w-100"
                        alt="...">
                        
                        <div class="mission-theme">
                            <p>Environment</p>
                        </div>
                    </div>
                    <div class="mission-location-list" >
                        <img src="~/Images/pin.png" alt="" style="margin-right: 5px;"><span>London</span>
                    </div>



                    <div class="mission-like-list">

                        <button class="d-inline"><img src="~/Images/heart.png" alt=""></button>
                    </div>
                    <div class="mission-seat-list">

                        <button><img src="~/Images/user.png" alt=""></button>
                    </div>
             <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                             <div class="col-9 d-flex">
                              <div class="me-2"><img src="~/Images/pin1.png" class="me-1"><p class="d-inline">Toronto</p></div>
                            <div class="me-2 "><img src="~/Images/web.png" class="me-1"><p class="d-inline">Environment</p></div>
                            <div class="me-2 "><img src="~/Images/organization.png" class="me-1"><p class="d-inline">Tree Canada</p></div>
                             </div>
                             <div class="col-3" >
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
        
                                    </div>
                         </div>
                        <div class="row mt-3">
                            <div class="col">

                                <h5 class="card-title">Water Problem
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            
                                <div class="d-flex" style="justify-content:space-between">
                                    
                                        <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/Seats-left.png" alt="">
                                        <div class="p-1 ">
                                            <p class="mb-0" style="font-size: 15px;"><strong>10</strong></p>
                                            <p class="mb-0">SeatsLeft</p>
                                        </div>
                                    </div>
                                    <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/deadline.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;"><strong>09/01/2019</strong></p>
                                            <p class="mb-0">Deadline</p>
                                        </div>
                                    </div>
                                    
                                    
                                         <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/calender.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;">From 09/01/2019</p>
                                            <p class="mb-0">Until 10/01/2020</p>
                                        </div>
                                    </div>
                                    <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/achieved.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;">Skills</p>
                                            <p class="mb-0">TeachingEnglish</p>
                                        </div>
                                    </div>
                                    <div class="card-button">
                                                            <button>Apply <span><img src="~/Images/right-arrow.png" alt=""></span></button>
                                                        </div>

                                   
            
                                </div>


                                
                                
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="card mb-4 " >
            <div class="row g-0 ">
                <div class="col-md-4">
                    
                    <img src="~/Images/Animal-welfare-&-save-birds-campaign-1.png" class="img-fluid rounded-start h-100 w-100"
                        alt="...">
                        
                        <div class="mission-theme">
                            <p>Environment</p>
                        </div>
                    </div>
                    <div class="mission-location-list" >
                        <img src="~/Images/pin.png" alt="" style="margin-right: 5px;"><span>London</span>
                    </div>



                    <div class="mission-like-list">

                        <button class="d-inline"><img src="~/Images/heart.png" alt=""></button>
                    </div>
                    <div class="mission-seat-list">

                        <button><img src="~/Images/user.png" alt=""></button>
                    </div>
             <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <h5 class="card-title">Tree Planting
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">

                                <div class="mission-organization">
                                    <div>
                                        <p>Tree Canada</p>
                                    </div>
                                    <div>
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
        
                                    </div>
                                </div>
                                
                                <div class="card-button">
                                                            <button>Apply <span><img src="~/Images/right-arrow.png" alt=""></span></button>
                                                        </div>
                            </div>
                            <div class="col border-top">
                                <div class="mission-theme">
                                    <span>
                                        Ongoing Opportunity
                                    </span>
                                </div>
                                <div class="timestamp row card-body mt-4">
                                    <div class="seats-left col d-inline-flex align-items-center">
                                        <img src="~/Images/Seats-left.png" alt="">
                                        <div class="p-1 ">
                                            <p class="mb-0" style="font-size: 20px;"><strong>10</strong></p>
                                            <p class="mb-0">Seats-left</p>
                                        </div>
                                    </div>
                                    <div class="seats-left col d-inline-flex align-items-center">
                                        <img src="~/Images/deadline.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 20px;"><strong>09/01/2019</strong></p>
                                            <p class="mb-0">Deadline</p>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="card mb-4 " >
            <div class="row g-0 ">
                <div class="col-md-4">
                    
                    <img src="~/Images/Animal-welfare-&-save-birds-campaign-1.png" class="img-fluid rounded-start h-100 w-100"
                        alt="...">
                        
                        <div class="mission-theme">
                            <p>Environment</p>
                        </div>
                    </div>
                    <div class="mission-location-list" >
                        <img src="~/Images/pin.png" alt="" style="margin-right: 5px;"><span>London</span>
                    </div>



                    <div class="mission-like-list">

                        <button class="d-inline"><img src="~/Images/heart.png" alt=""></button>
                    </div>
                    <div class="mission-seat-list">

                        <button><img src="~/Images/user.png" alt=""></button>
                    </div>
             <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <h5 class="card-title">Water Problem
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">

                                <div class="mission-organization">
                                    <div>
                                        <p>Tree Canada</p>
                                    </div>
                                    <div>
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
        
                                    </div>
                                </div>
                                
                                <div class="card-button">
                                                            <button>Apply <span><img src="~/Images/right-arrow.png" alt=""></span></button>
                                                        </div>
                            </div>
                            <div class="col border-top">
                                <div class="mission-theme">
                                    <span>
                                        Ongoing Opportunity
                                    </span>
                                </div>
                                <div class="timestamp row card-body mt-4">
                                    <div class="seats-left col d-inline-flex align-items-center">
                                        <img src="~/Images/Seats-left.png" alt="">
                                        <div class="p-1 ">
                                            <p class="mb-0" style="font-size: 20px;"><strong>10</strong></p>
                                            <p class="mb-0">Seats-left</p>
                                        </div>
                                    </div>
                                    <div class="seats-left col d-inline-flex align-items-center">
                                        <img src="~/Images/deadline.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 20px;"><strong>09/01/2019</strong></p>
                                            <p class="mb-0">Deadline</p>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

 
